{% extends "user.html" %}
{% block content %}
<div><h2>{{cbname}}</h2></div>

<div>
    
    <form method="post" action="/users/{{userid}}/cookbook/remove/{{cbid}}/{{curr_idx}}">
    <table>
        <tr>
            <th></th>
            <th>Recipe Name</th>
            
        </tr>
        {% for recid, description in recipes_in_cb %}
        <tr>   
            <td><input type="checkbox" name="{{recid}}" value="True"></td>
            <td><a href="/users/{{userid}}/recipe/view/{{recid}}">{{description}}</a></td>
            
        </tr> 
        {% endfor %}
    </table>
    <td><input type="submit" value="Remove Recipe"> <input type="reset"></td>
    </form>
    
</div>
<p>



<div><h2>Available cookbooks</h2></div>
<div>
    <form method="post" action="/users/{{userid}}/cookbook/add/{{cbid}}/{{curr_idx}}">
    <table>
        <tr>
            <th></th>
            <th>Recipe Name</th>
            
        </tr>
        {% for recid, description in recipes_not_in_cb %}
        <tr>
            <td><input type="checkbox" name="{{recid}}" value="True"></td>
            <td><a href="/users/{{userid}}/recipe/view/{{recid}}">{{description}}</a></td>
            
        </tr> 
        {% endfor %}
    </table>
    <p> <a href="/users/{{userid}}/cookbook/view/{{cbid}}/{{prev_idx}}">Prev</a> | <a href="/users/{{userid}}/cookbook/view/{{cbid}}/{{next_idx}}">Next</a></p>
    <p><input type="submit" value="Add Recipe"> <input type="reset"></p
    
    </form>
    
    
</div>


{% endblock %}

