{% extends "user.html" %}
{% block content %}
<div><h2>Your current cookbooks</h2></div>

<div>
    
    <form method="post" action="/users/{{userid}}/cookbooks/remove/{{curr_idx}}">
    <table>
        <tr>
            <th>Cookbook Name</th>
            <th>Remove?</th>
        </tr>
        {% for cbid, description in cookbooks_owned %}
        <tr>   
            <td><a href="/users/{{userid}}/cookbook/view/{{cbid}}">{{description}}</a></td>
            <td><input type="checkbox" name="{{cbid}}" value="True"></td>
        </tr> 
        {% endfor %}
    </table>
    <td><input type="submit" value="Remove Cookbook"> <input type="reset"></td>
    </form>
    
</div>
<p>



<div><h2>Available cookbooks</h2></div>
<div>
    <form method="post" action="/users/{{userid}}/cookbooks/add/{{curr_idx}}">
    <table>
        <tr>
            <th>Cookbook Name</th>
            <th>Add?</th>
        </tr>
        {% for cbid, description in cookbooks %}
        <tr>
            <td><a href="/users/{{userid}}/cookbook/view/{{cbid}}">{{description}}</a></td>
            <td><input type="checkbox" name="{{cbid}}" value="True"></td>
        </tr> 
        {% endfor %}
    </table>
    <p> <a href="/users/{{userid}}/cookbooks/view/{{prev_idx}}">Prev</a> | <a href="/users/{{userid}}/cookbooks/view/{{next_idx}}">Next</a></p>
    <p><input type="submit" value="Add Cookbook"> <input type="reset"></p
    
    </form>
    
    
</div>


{% endblock %}

