{% extends "user.html" %}
{% block content %}
<div><h2>Your current cookbooks</h2></div>

<div>
<form method="post" action="cookbooks/remove">
<ul>
{% for cbid, description in cookbooks_owned %}
<li><a href="/users/{{userid}}/cookbook/view/{{cbid}}">{{description}}</a></li>
{% endfor %}
</ul>
</div>
<div>
</div>
<p>

<div>
<form method="post" action="cookbooks/add">
{% if num_cookbooks > 0 %}
<ul>
{% for cbid, description,owned in cookbooks %}
<li><a href="/users/{{userid}}/cookbook/view/{{cbid}}">{{description}}</a></li>
{% endfor %}
</ul>
<p> <a href="/users/{{userid}}/cookbooks/view_books/{{prev_cbid}}">Prev</a> | <a href="/users/{{userid}}/cookbooks/view_books/{{next_cbid}}">Next</a></p>
{% else %}
<p> Oops! No more cookbooks.  <a href="/users/{{userid}}/cookbooks/view_books/1">Back to the beginning?</a></p>
{% endif %}
<p>
</form>
</div>
<div>
</div>
<p>




{% endblock %}

