<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to What's for Dinner!</h1>
  <div>
    <p>This is the new user sign up page</p>
  </div>
  <div>
  <form method="POST" action="/users/add">
    <p>Email: <input type="text" name="email"> </p>
    <p>Username: <input type="text" name="username"> </p>
    <p>Password: <input type="password" name="password"> </p>
    <p>Bio: <input type="textarea" name="bio"> </p>
    <p><input type="submit" value="Submit"></p>
  </form>
  </div>
</body>


</html>
