<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>What's for Dinner!</h1>
  
  <div>
  {% block content %}
  
  {% endblock %}
  </div>
  
  <div>
  <p> Cookbooks: <a href="/users/{{userid}}/cookbooks/view">View</a> | <a href="/users/{{userid}}/cookbook/new">Create New</a> </p>
  <p> Recipes: <a href="/users/{{userid}}/recipes/view">View</a> | <a href="/users/{{userid}}/recipes/new">Create New</a> </p>
  <p> Pantries: <a href="/users/{{userid}}/pantries/view">View </a>  | <a href="/users/{{userid}}/pantries/new">Create New</a> </p>
  <p> Shopping Lists: <a href="/users/{{userid}}/lists/view">View </a>  | <a href="/users/{{userid}}/lists/new">Create New</a> </p>
  <p> <b> <a href="/users/{{userid}}/dinner">What's for dinner!</a> </b> </p>
  </div>
</body>


</html>
